\documentclass[12pt,parskip=half]{scrlttr2}
\usepackage[english]{babel}
\usepackage{graphicx}
\usepackage{amssymb}
\usepackage{xcolor}
\usepackage[headsepline=false,footsepline=false]{scrlayer-scrpage}
\usepackage[T1]{fontenc}
\usepackage{lmodern}
\KOMAoptions{foldmarks=false,addrfield=false}
\setplength{sigindent}{0mm}
\renewcommand*{\raggedsignature}{\raggedright}
\setkomavar{signature}{Example Campaign Chair, Example Solicitation Committee}
\setkomavar{date}{}
\clearpairofpagestyles
\cfoot{\normalfont\upshape\textcolor[HTML]{990000}{123 Example Avenue, Example City, EX 12345}}
\renewcommand*{\pagemark}{}
\pagestyle{scrheadings}
\AtBeginLetter{\thispagestyle{scrheadings}}

\begin{document}
\begin{letter}{}

\noindent\makebox[\textwidth][c]{
    \includegraphics[width=1.8in]{ {{ logo_path }} }%
}

\vspace{\baselineskip}
\noindent {{ letter_date }}

\vspace{\baselineskip}
{% if contact_display_name %}\noindent {{ contact_display_name }}\\{% endif %}
\noindent {{ company }}\\
{% if address_1 %}\noindent {{ address_1 }}\\{% endif %}{% if address_2 %}\noindent {{ address_2 }}\\{% endif %}{% if city or state or zip_code %}\noindent {{ city }}{% if city and state %}, {% endif %}{{ state }} {{ zip_code }}{% endif %}

\vspace{\baselineskip}
\noindent Dear {{ dear_line }}:

We are reaching out to invite you to partner with our community on one of our most important
priorities.

Our organization believes in supporting education and fostering opportunities for young people who serve our residents
with dedication and care. With this purpose in mind, \emph{we are seeking contributions to our scholarship fund}, which directly benefits student workers serving our community.

Our community already gives generously to the fund. These contributions allow us to provide meaningful scholarship support to students in each annual cycle.

Your participation will not only enhance quality of life in our community but also provide meaningful support to exceptional students. By contributing to our scholarship fund, you help recognize the hard work of those who serve and empower them to achieve their educational aspirations.

We welcome the opportunity to discuss sponsorship or contribution options that align with your company's values and objectives. Contributing vendor-partners will be recognized in committee publications and scholarship materials. Your favorable consideration of a gift of {{ amount_requested }} would enable us to list you as a sponsor.

You may address your gift to the ``Example Scholarship Fund'' at 123 Example Avenue, Example City, EX 12345. Example
Health Services is a nonprofit organization. Donations are tax-deductible under Federal Tax ID/EIN Number XX-XXXXXXX.

The sponsorship levels are:

\$100-\$249.99 to become a Contributing Partner

\$250-\$999.99 to become a Plus Partner

\$1,000-\$2,499.99 to become a Bronze Sponsor

\$2,500-\$4,999.99 to become a Silver Sponsor

\$5,000-\$9,999.99 to become a Gold Sponsor

\$10,000+ to become a Platinum Sponsor

If you have any questions or wish to join us in this important initiative, please contact {{ solicitor_name }} at {{ solicitor_number }} or {{ solicitor_email }}. Thank you for considering this opportunity to make a lasting impact.

\closing{Sincerely,}

{% if mr_contact %}
\cc{ {{ mr_contact }} }
{% endif %}
\end{letter}

\newpage

\noindent\makebox[\textwidth][c]{
    \includegraphics[width=1.8in]{ {{ logo_path }} }%
}

\begin{center}
\textbf{Example Scholarship Program}\\
\textbf{123 Example Avenue}\\
\textbf{Example City, EX 12345}\\
\textbf{Partner Response Form}
\end{center}

Yes, we'd like to support the Example Scholarship program with a gift of \$\_\_\_\_\_\_\_\_\_

Giving levels are:

\(\square\) \$100 to \$249.99 to become a Contributing Partner

\(\square\) \$250 to \$999.99 to become a Plus Partner

\(\square\) \$1,000 to \$2,499.99 to become a Bronze Sponsor

\(\square\) \$2,500 to \$4,999.99 to become a Silver Sponsor

\(\square\) \$5,000 to \$9,999.99 to become a Gold Sponsor

\(\square\) \$10,000 or more to become a Platinum Sponsor

\vspace{2.0\baselineskip}
\noindent\rule{\textwidth}{0.5pt}
\vspace{0.4\baselineskip}
\noindent SIGNED \hfill DATE

\end{document}
